<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
</head>

<body>
    <div class="content">
        <header>{{>header}}</header>
        <h3>{{message}}</h3>
        <a href="/">Go back home</a>
    </div>
    <footer>{{>footer}}</footer>

</body>

</html>