<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="content">
        <header>{{>header}}</header>
        <p class="byline">Created By: {{name}}</p>
        <img src="/img/me.jpg">
    </div>
    <footer>{{>footer}}</footer>

</body>

</html>